.menu{
    position: absolute;
    top: 20px;
    right: 20px;
    font-weight: bold;
    display: flex;
}

.menu a{
    text-decoration: none;
}

.social{
    margin-right: 14px;
    display: flex;
    align-items: center;
}

.menu-item{
    color: #000;
    background-color: #FFF;
    padding: 5px 10px;
    border-radius: 4px;
}