.links-container{
    max-width: 1120px;
    margin: 32px auto 0 auto;
}

.links-header{
    display: flex;
    flex-direction: row;
}

.links-header svg{
    margin-right: 14px;
}

.links-header h1{
    color: #FFF;
}

.links-item{
    width: 700px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 8px;
}

.links-item:last-child{
    margin-bottom: 18px;
}

.link{
    border: none;
    width: 100%;
    min-width: 70%;
    border-radius: 4px;
    height: 46px;
    background-color: rgb(255, 255, 255, 0.15);
    margin-right: 14px;
    display: flex;
    align-items: center;
    padding: 0 14px;
    font-size: 18px;
    color: #FFF;
    white-space: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link svg{
    margin-right: 14px;
}

.link-delete{
    border: none;
    background: transparent;
}

.empty-text{
    width: 100%;
    text-align: center;
    margin-top: 28px;
    color: #FFF;
}

@media (max-width: 715px){
    .links-container{
        width: 90%;
    }
    .logo h1{
        font-size: 40px;
    }
    .links-item{
        width: 100%;
    }
    .link{
        width: 100%;
    }
}
